@font-face {
    font-family: "calibri";
    src: local("calibri"),
         url(../fonts/calibri.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "calibri-bold";
    src: local("calibri-bold"),
         url(../fonts/calibri_bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    background: url(../img/body-bg.png) no-repeat 8.2rem 1.5rem;
    padding-top: 2.8rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    max-width: 129rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.header {
    height: 83vh;
    position: relative;
}

.header__top {
    width: 100%;
    height: 6.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__logo {
    width: 15rem;
    height: 6.6rem;
}

.header__menu {
    display: flex;
}

.header__menu ul li{
    display: inline-block;
}

.header__menu ul li a {
    font-size: 1.8rem;
    font-family: "calibri";
    color: #616161;
    transition: all 0.5s ease;
}

.header__menu ul li a:hover {
    color: #FB973B;
    text-shadow: 1px 1px 10px #FB973B;
}

.header__menu ul li {
    margin-right: 7rem;
}

.header__phone {
    font-family: "calibri-bold";
    font-size: 1.8rem;
    color: #141419;
    transition: all 0.5s ease;
}

.header__phone:hover {
    color: #FB973B;
    text-shadow: 1px 1px 10px #FB973B;
}

.header__section {
	margin-top: 2.5rem;
    position: relative;
}

.header__description { /*content */
	flex: 0 0 100%;
}

 .header__inner { /*body */
	position: relative;
	z-index: 10;
	width: 60%;
}

.header__title {
    max-width: 67rem;
    margin-top: 7.5rem;
    font-family: "calibri-bold";
    font-size: 6rem;
    color: #141419;
}

.title__box {
    display: inline-block;
    position: relative;
    box-shadow: 0 -1.3rem 0 #FFF inset,
        0 -2.2rem 0 #FB973B inset;
}

.header__text {
    max-width: 34rem;
    margin-top: 4rem;
    font-family: "calibri-bold";
    font-size: 2.4rem;
    color: #616161;
}

.header__text span {
    color: #FB973B;
}

.header__form {
    width: 40rem;
    height: 6rem;
    margin-top: 4rem;
}

.header__form form {
    display: flex;
    width: 100%;
    height: 100%;
}

#phone {
    width: 50%;
    font-size: 1.8rem;
    font-weight: 500;
    color: #141419;
    background-color: #F7F7F7;
    text-align: center;
    outline: none;
    border: 1px solid gray;
}

.header__btn {
    width: 50%;
    background-color: #FB973B;
    font-size: 1.8rem;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all 0.7s;
}

.header__btn:hover {
    background-color: #e2842c;
    color: #000;
}

.header__image {
    width: 50%;
    position: absolute;
    top: -10%;
    right: 2%;
}

.header__image img{
	width: 100%;
}

/* ================================
              about
================================ */

.about {
    text-align: center;
}

.about__title {
    display: inline-block;
    font-family: "calibri-bold";
    font-size: 6rem;
    color: #141419;
    position: relative;
    box-shadow: 0 -1.3rem 0 #FFF inset,
        0 -2.2rem 0 #FB973B inset;
}

.about__title_second {
    display: inline-block;
    max-width: 53rem;
    font-family: "calibri-bold";
    font-size: 2.4rem;
    color: #616161;
}

.about__title_second span {
    color: #FB973B;
}

.about__block {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.about__image {
    width: 40rem;
    margin-right: 4.3rem;
}

.about__image img {
    width: 100%;
}

.about__box {
    width: 39rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1rem;
    height: 2.1rem;
    color: #FB973B;
    font-size: 1rem;
    border-radius: 50%;
    border: 1px solid #FB973B;
    position: relative;
}

.about__element:not(:first-child)::before,
.about__element::after {
    content: "";
    width: 0.1rem;
    height: 2.4rem;
    background-color: #FB973B;
    position: absolute;
}

.about__element::before {
    top: -125%;
}

.about__element::after {
    bottom: -125%;
}

.about__text {
    padding: 3.5rem 0 3.5rem 0;
    font-family: "calibri";
    font-size: 1.8rem;
    color: #141419;
}

/* ================================
==============MEDIA================
=================================== */

@media (max-width: 1450px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1350px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 7px;
    }

    .header__menu ul li a {
        font-size: 2rem;
    }
}

@media (max-width: 1050px) {
    html {
        font-size: 6px;
    }
    .header {
        height: 70vh;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 5px;
    }
}

@media (max-width: 767px) {

    /*==============burger===============*/

    .header__burger {
        width: 6rem;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 20;
    }

    .burger__line {
        height: 0.5rem;
        width: 100%;
        background-color: #000;
        transition: all 0.5s;
    }

    .cross .burger__line:nth-child(2) { 
        transform-origin: 50% 50%;
        transform: scale(0);
    }

    .cross .burger__line:first-child {
        transform: translate(0.1rem, 2.3rem) rotate(45deg);
    }

    .cross .burger__line:last-child {
        transform: translate(0, -2.3rem) rotate(-45deg);
    }

/*===================================*/

    .header__menu {
        width: 40%;
        background-color: #e2842cab;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 15;
        transform: translateY(-110%);
        transition: all 0.5s;
    }

    .header__menu ul {
        margin-bottom: 0.9rem;
    }

    .header__menu ul li {
        display: block;
        margin-bottom: 1rem;
    }

    .header__menu ul li a {
        font-size: 4rem;
        color: #000;
    }

    .header__phone {
        font-size: 4rem;
    }
     
    .active {
        transform: translateY(0);
    }
    
    .header__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__title {
        text-align: center;
    }

    .header__text {
        text-align: center;
    }

    #phone {
        font-size: 2.5rem;
    }

    .header__btn {
        font-size: 2.5rem;
    }

    .header__image {
        top: 110%;
        right: 50%;
        transform: translateX(50%);
    }

    .about {
        padding-top: 30rem;
    }

    .about__block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about__image {
        width: 50%;
        margin-right: 0;
    }

    .about__box {
        width: 60%;
    }

    .about__element {
        width: 4rem;
        height: 4rem;
        font-size: 2.3rem;
    }

    .about__element:not(:first-child)::before,
    .about__element::after {
        width: 0.2rem;
        height: 4.3rem;
    }

    .about__text {
        font-size: 3.2rem;
    }

}

@media (max-width: 575px) {
    .header{
        height: 80vh;
    }
    .about {
        padding-top: 10rem;
    }
}

@media (max-width: 320px) {
    .header{
        height: 80vh;
    }

    .header__menu {
        width: 70%;
    }

    .header__title {
        font-size: 4rem;
    }

    .title__box {
        box-shadow: 0 -1rem 0 #FFF inset,
            0 -1.7rem 0 #FB973B inset;
    }

    .about {
        padding-top: 5rem;
    }

    .about__title {
        font-size: 3.6rem;
        box-shadow: 0 -1rem 0 #FFF inset,
            0 -1.7rem 0 #FB973B inset;
    }

    .about__title_second {
        margin-top: 1rem;
    }
}
